.navbar-default {
  background-color: #63164b;
  border-color: #2f0923;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-default a {
  color: #FFFFFF;
}

.navbar-nav, .navbar-default .navbar-nav > li > a:hover
{
  color: #FFFFFF;
}

.navbar-default .navbar-nav > .open > a, .dropdown-menu {
  background-color: #7d1d5f;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .dropdown-menu > li > a:focus {
  background-color: #8e266d;
}
