img {
  height: 220px;
}
h1 {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #f5e8e8;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

h4{
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  background-color: #A75D91;
  padding: 10px;
  color: #FFFFFF;
  border: 1px solid #38022f;
}

p {
  margin: 20px 0;
  font-size: 13px;
  line-height: 22px;
}

.btn-manage {
  color: #fff;
  background-color: #4A0535;
  border-color: #0e010a;
}

.btn-manage:hover {
  background-color: #ad498d;
}

